h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: large;
  text-align: center;
  color: black
}

#planets {
  text-align: center;
  color: azure;
  font-size: 16pt;
  font-family: 'Roboto Slab', serif;
  padding: 6px;
  font-weight: bold;
}

.planet-img {
  width: 120px;
  height: 120px;
}
